.container {
  width: 100%;
  margin: 3rem 0px;

  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;

  & .largerImage {
    grid-row: span 2;
    grid-column: span 2;
  }
}

.container.noData {
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--mainFont);
  font-size: 1.5rem;

  & p {
    margin: 2.5rem;
  }
}
