.memory {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 20vw;

  color: var(--main__black);

  & img.postImage {
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 1/1;

    object-fit: cover;
    object-position: center;
    cursor: pointer;

    transition: transform 0.15s ease-in;

    &:hover {
      transform: scale(1.02);
    }
  }

  & .postInfoContainer {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & .memoryDescription {
      width: 100%;
      height: 100px;

      display: flex;
      justify-content: start;
      align-items: center;
      gap: 10px;

      font-family: var(--mainFont);
    }
  }
}
