.styledButton {
  width: fit-content;
  height: auto;
  padding: 15px 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  background-color: var(--main__purple);
  color: white;
  border: none;
  border-radius: 10px;

  filter: drop-shadow(6px 4px 6px #8c8c8c);

  & img {
    height: 50%;
    max-height: 35px;
  }

  & p {
    font-size: 1.125rem;
    font-family: var(--headlineFont);
    font-weight: bold;
    text-transform: capitalize;
  }

  &:hover {
    background-color: var(--focus__lighter__purple);
  }

  &:active {
    filter: brightness(95%);
  }
}
