@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* -- Project's color palette -- */
  --main__purple: #8c52ff;
  --main__orange: #f59b12;
  --main__black: #292f33;

  --light__purple: #efe7ff;

  --focus__lighter__purple: #a476ff;

  /* ----------------------------- */

  /* -- Fonts -- */
  --headlineFont: "Urbanist", sans-serif;
  /* ----------- */
}

h1 {
  font-family: var(--headlineFont);
  font-size: 3rem;
  font-weight: bold;
  text-transform: capitalize;
}
