.styledButton {
  width: fit-content;
  height: auto;
  padding: 15px 30px;
  margin: 10px 0px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  background-color: var(--main__purple);
  color: white;
  border: none;
  border-radius: 10px;

  filter: drop-shadow(6px 4px 6px var(--dropShadow__gray));
  transition: all 0.2s ease-out;
  cursor: pointer;

  & img {
    height: 20px;
    max-height: 35px;
  }

  & p {
    font-size: 1.125rem;
    font-family: var(--headlineFont);
    font-weight: bold;
    text-transform: capitalize;
  }

  &:hover {
    background-color: var(--focus__lighter__purple);
    transform: translateY(-5px);
  }

  &:active {
    filter: brightness(95%);
  }
}

button:disabled,
button[disabled] {
  filter: opacity(0.5) brightness(0.7);

  &:active {
    filter: opacity(0.5) brightness(0.7);
  }
}

.disabledLink {
  pointer-events: none;
}
