.guestPageContainer {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/guestpage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & .guestPageMainContent {
    width: 100%;
    height: 85%;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;

    & section.textBlock {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1.75rem;

      padding: 5rem 7rem;

      font-family: var(--headlineFont);
      color: var(--main__black);

      animation-name: slideFromRight;
      animation-duration: 1.5s;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      & h2 {
        text-overflow: clip;
        max-width: 80%;
        font-weight: normal;
      }

      & button {
        border-radius: 30px;
      }
    }

    & section.visuals {
      display: flex;
      justify-content: end;
      align-items: end;

      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      & img {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 60%;
      }
    }
  }
}
