.input-imageField {
  width: 20vw;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 5px dashed var(--main__black);
  border-radius: 30px;

  cursor: pointer;

  animation-name: fadeIn;
  animation-duration: 0.45s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  & .fieldVisualCues {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--mainFont);
    color: var(--main__black);

    & img {
      width: 40%;
      aspect-ratio: 1/1;

      margin: 25px;

      transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        transform: scale(1.1);

        filter: brightness(160%);
      }
    }

    & h2 {
      font-size: 1.75rem;
    }

    & p {
      font-size: 1.125rem;
      font-style: italic;
      text-wrap: wrap;
      text-align: center;

      margin: 5px 20px;
    }
  }
}

input.input-imageField {
  display: none;
}

.input-textField {
  height: 40px;
  width: 100%;

  margin-bottom: 10px;

  background-color: transparent;
  border-bottom: 1px solid var(--main__black);

  font-family: var(--mainFont);
  font-size: 1rem;

  & &:focus {
    border-bottom: 1px solid var(--main__black);
  }
}

.label-textField {
  font-family: var(--headlineFont);
  font-weight: bold;
  font-size: 1.25rem;
}

.input-radioField {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 0px;

  transition: transform 0.15s ease-in, background-color 1s ease-in;

  & input {
    display: none;
  }

  & label {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;

    padding: 0px 20px;

    border: 4px solid var(--main__black);
    border-radius: 15px;

    font-size: 1rem;

    text-transform: capitalize;
    cursor: pointer;

    & img {
      width: 70%;
      aspect-ratio: 1/1;
      display: none;
    }
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    background-color: rgb(227, 227, 227);
    transform: translateY(-5px);
  }

  & input:checked + label {
    border: none;
    background-color: var(--main__orange);
    color: var(--light__white);

    box-shadow: 6px 7px 9px var(--dropShadow_gray);
  }
}

& .submitButton {
  font-size: 1rem;

  & [type="submit"] {
    display: none;
  }

  & label {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 20px;

    font-family: var(--headlineFont);
    font-weight: bold;

    cursor: pointer;

    & img {
      height: 20px;
      aspect-ratio: 1/1;
    }
  }
}
