.uploadPageContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & .imageUploadField {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
  }

  & .postDetailsForm {
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--light__white);

    & .contentContainer {
      width: 70%;

      animation-name: fadeIn;
      animation-duration: 0.45s;
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}
