form {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  font-family: var(--mainFont);

  & label {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main__black);

    margin: 0.75rem 0px;
  }

  & input.input-textField {
    height: 50px;
    width: 80%;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--main__black);

    font-family: inherit;
    font-size: 1.15rem;
  }
}
