@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* -- Project's color palette -- */
  --main__purple: #8c52ff;
  --main__orange: #f59b12;
  --main__black: #292f33;
  --main__white: #fbfbfb;

  --light__purple: #efe7ff;
  --light__white: #fff9f9;
  --light__yellow: #ffe1b4;
  --light__red: #fadce1;

  --info__blue__main: #5b8a8f;
  --info__blue__back: #a6d3cf;
  --success__green__main: #699a74;
  --success__green__back: #e6faeb;
  --warning__orange__main: #f59b12;
  --warning__orange__back: #ffe1b4;
  --failure__red__main: #b84f66;
  --failure__red__back: #ffc3cd;

  --focus__lighter__purple: #a476ff;

  --dropShadow__gray: #8c8c8c78;

  /* ----------------------------- */

  /* -- Fonts -- */
  --headlineFont: "Red Hat Display", sans-serif;
  --mainFont: "Montserrat", sans-serif;
  /* ----------- */
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/homePage__background-2.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.appContainer {
  height: 100vh;

  display: flex;
  justify-content: start;
  align-items: start;

  overflow-x: hidden;

  & main {
    width: 100%;
    margin: 2rem 2rem 1rem 25rem;
  }
}

img.icon {
  width: 50px;
  aspect-ratio: 1/1;
}

a:link {
  text-decoration: none;
}
