h1 {
  padding: 0.5rem 0rem;

  font-family: var(--headlineFont);
  font-size: 3.75rem;
  font-weight: bold;
  text-transform: capitalize;

  color: var(--main__black);
}

input {
  border: none;
  outline: none;
}
