.info-modal-container {
  width: fit-content;
  height: fit-content;
  padding: 1rem 2.5rem;

  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;

  z-index: 1000;
  border-radius: 20px;
  box-shadow: 10px 10px 15px var(--dropShadow__gray);

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  & p {
    font-family: var(--mainFont);
    font-weight: bold;
    font-size: 1.5rem;
  }
  & img {
    width: 75px;
    aspect-ratio: 1/1;
  }

  &.INFO {
    background-color: var(--info__blue__back);
    color: var(--info__blue__main);
  }

  &.SUCCESS {
    background-color: var(--success__green__back);
    color: var(--success__green__main);
  }
  &.WARNING {
    background-color: var(--warning__orange__back);
    color: var(--warning__orange__main);
  }
  &.ERROR {
    background-color: var(--failure__red__back);
    color: var(--failure__red__main);
  }
}
